.avenir{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-top: 50px;
    .section-up{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
       // background: #f4f4f4f4;
        // box-shadow: 1px 1px 1px 1px #e6e5e5;
        margin: 20px;
        h2{
            cursor: pointer;
            font-size: 3em;
            font-family:'Roboto Slab', sans-serif;
            font-weight:900;
            margin: 50px;
            text-transform: uppercase;
            text-align: center;
            &:hover{
                color: #312626;
                
            }
        }
        strong{
            font-family: 'Roboto', sans-serif;
            text-align: center;
            font-size: 1em;
            margin-top: 20px;
            margin-bottom: 40px;
            cursor: pointer;
            &:hover{
                color: #312626;
                
            }
        }
        p{
            box-shadow: 1px 1px 1px 1px #e6e5e5;
            background: #f4f4f4;
            padding: 10px;
            font-family: 'Verdana', sans-serif;
            font-size: 1em;
            margin: 20px;
            color: #6d6d6d;
            word-spacing: 0.2em;
            span{
                color:red;
                margin: 20px;
            }
            &:hover{
                color: #312626;
                
            }
            cursor: pointer;
        }
        ul{
            
            font-family: 'Verdana', sans-serif;
            font-size: 1em;
            margin: 20px;
            padding-right:10px ;
            padding-top: 10px;
            padding-bottom: 10px;
            cursor: pointer;
            background-color: #f4f4f4;
            box-shadow: 1px 1px 1px 1px #e6e5e5;
            li{
    
                margin: 5px;
                color: #6d6d6d;
                &:hover{
                    color: #312626;
                    
                }
            }
        }
    }

    .section-down{
        background: #000;
        color:#fff;
        width: 80%;
        cursor: pointer;
        h2{
            font-family: 'Roboto',sans-serif;
            font-size: 1em;
            margin: 20px;
            text-transform: uppercase;
        }
        p{
            font-family: 'Arial',sans-serif;
            margin: 20px;

        }
        ul{
            font-family: 'Arial', sans-serif;
            margin: 20px;
            li{
                margin: 5px;
                font-size: 1em;
                &:hover{
                    color: #d3d1d1;
                    
                }
            }
        }
    }
}

@media(max-width:900px){
    .avenir{
        flex-direction: column;
        align-items: center;
        justify-content: center;

       .section-down,.section-up{
        align-items: center;
        justify-content: center;
        width: 100%;
         h2{
            font-size: 1em;
        }
        p{
            font-size: 0.8em;
        }
        ul{
            font-size: 0.8em;
        }
    }
    }
}