.presta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 20px;
  background-color: #f4f4f4f4;
  .fond-image {
    width: 80%;
    height: 50vh;
   
    img{
      width: 100%;
      height: 50vh;
    }
   
  }

  .titre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    width: 80%;
    cursor: pointer;
    strong {
      text-transform: uppercase;
      font-size: 1.2em;
      font-family: "Roboto", sans-serif;
      margin: 20px;
      &:hover{
        color: #312626;
        
    }
    }
    p {
      font-family: "Georgia", sans-serif;
      font-size: 1em;
      color: #838383;
      margin: 20px;
      &:hover{
        color: #474646;
        
    }
    }
  }

  .flex-container {
    width: 80%;
    display: flex;
    align-items: center;
    align-items: center;
   
    .child1 {
      flex: 1;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      .child1-child1,
      .child1-child2 {
        cursor: pointer;
        margin: 10px;
        padding: 20px;
        font-family: "Roboto", sans-serif;
        background-color: #fff;
        box-shadow: 1px 1px 1px 1px #e6e5e5;
        h2{
          margin: 20px;
          &:hover{
            color: #312626;
            
        }
        }
        ul{
          color: #616161;
          font-family: 'Verdana';
          li{
            margin: 5px;
            &:hover{
              color: #312626;
              
          }
          }
        }
      }
    }

    .child2 {
      flex: 1;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: "Roboto", sans-serif;
      .child2-child1 {
        flex: 1;
        background-color: black;
        margin: 10px;
        padding: 10px;
        height: 200px;
        color: #fff;
        cursor: pointer;
        font-family: 'Verdana',sans-serif;
        h2 {
          color: antiquewhite;
          margin: 10px;
        }
        li{
          margin: 5px;
          &:hover{
            color: #cacaca;
            
        }
        }
      }
      .child2-child2 {
        flex: 1;
        margin: 10px;
        cursor: pointer;
        img {
          width: 100%;
          height: 250px;
          flex: 1;
        }
      }
    }
  }

  .footer {
    bottom: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 20px;
    padding: 20px;
    border-right: 10px solid rgb(196, 3, 3);
    border-left: 10px solid rgb(196, 3, 3);
    border-top: 10px solid rgb(196, 3, 3);
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    h2 {
      text-transform: uppercase;
    }
    h2,
    p {
      font-family: "Helvetica", sans-serif;
      margin: 10px;
      color: #535353;
    }
  }
}

@media (max-width: 900px) {
  .presta {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .fond-image {
      height: 8rem;
      img{
        height: 8rem;
      }
    }

    .titre {
      strong {
        font-size: 1em;
      }
      p {
        font-size: 0.8em;
      }
    }

    .flex-container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .child1-child1,
      .child1-child2,
      .child2-child1,
      .child2-child2 {
        h2 {
          font-size: 1em;
        }
        ul {
          font-size: 0.8em;
        }
      }
    }

    .footer{
        width: 20rem;
        h2{font-size: 1em;}
        p{font-size: 0.9em;}
    }
  }
}
